@import url('./hint.css');
@tailwind base;
@tailwind components;
@tailwind utilities;


.sync-overflow {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
}

.sync-modal {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 40vh;
  background: linear-gradient(180deg, rgba(183, 52, 179, 0.15) 0%, rgba(164, 46, 156, 0) 100%), #6e40c9 !important;
  z-index: 100;
  box-shadow: 0 4px 24px #ebeef0;
}

.sync-icon {
  height: 28px;
  width: 28px;
}