.sync-btn-style {
  color: #fff;
  cursor: pointer;
  height: 32px;
  min-width: 80px;
  border: 1px solid #6e40c9;
  border-radius: 4px;
  justify-content: center;
  margin: 8px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  background: linear-gradient(#b734b326 0%, #a42e9c00 100%), #6e40c9 !important;
  align-items: flex-end;
}

img {
  height: 100%;
}

.gh-trigger-icon {
  padding-right: 7px;
}