.sync-btn-style {
  color: #fff;
  border: 1px solid #6e40c9;
  margin: 8px;
  background: linear-gradient(180deg, rgba(183, 52, 179, 0.15) 0%, rgba(164, 46, 156, 0) 100%),#6e40c9 !important;
  font-size: 14px;
  padding: 6px 12px;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  height: 32px;
  min-width: 80px;
}

.sync-btn-style:hover {
  /* color: #6e40c9; */
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

img {
  height: 100%;
}

.gh-trigger-icon {
  padding-right: 10px;
}